<h1><%= @artist.name %></h1>

<table>
<thead id = "listOfSongs"><h4>List of songs:</h4></thead>
  <% @artist.songs.each do |song| %>
  <tr class = "songs">
    <td><p><%= link_to song.title, artist_song_path(song.artist_id, song.id) %></td>
    <td><%= song.duration %></p></td>
  </tr>
  <% end %>

<% @artist.photos.each do |photo| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= image_tag photo.image.thumbnail %>
  </div>
</div>
<% end %>
</table>

<div id = "invisible"  ><%= render "songform" %></div>



<button class="toggleForm">Add Song</button>
<button class="toggleForm">Edit Song</button>



<%= link_to "[Delete]", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" }%>

<%= link_to "[Delete All Songs]", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" }%>

<%= link_to "[Back]", artists_path %>
