<h1><%= @artist.name %></h1>

<h4>List of songs:</h4>
<% @artist.songs.each do |song| %>
<p><%= link_to song.title, artist_song_path(song.artist_id, song.id) %> <%= song.duration %></p>
<% end %>

<% @artist.photos.each do |photo| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= image_tag photo.image.thumbnail %>
  </div>
</div>
<% end %>


<%= link_to "[Add Song]", new_artist_song_path(@artist.id) %>

<%= link_to "[Edit]", edit_artist_path %>

<%= link_to "[Delete]", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" }%>

<%= link_to "[Back]", artists_path %>
